<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojufei.practice.web.dao.UserDao">
    <resultMap type="com.zhaojufei.practice.web.entity.User" id="userMap">
        <result column="name" property="name"/>
        <result column="sex"  property="sex"/>
        <result column="age"  property="age"/>
        <result column="birthday"  property="birthday" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listUser" resultMap="userMap">
        SELECT * FROM user ;
    </select>


    <select id="queryById" resultType="com.zhaojufei.practice.web.entity.User">
        SELECT name , sex, age FROM user where sid = 1
    </select>
</mapper>